[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
celery = "*"
celery-once = "*"
django = "*"
djangorestframework = "*"
django-filter = "*"
django-debug-toolbar = "*"
djongo = "==1.3.0"
fake-useragent = "*"
numpy = "*"
pymongo = "*"
psycopg2 = "*"
redis = "*"
requests = "*"
scrapy = "*"
scrapy-redis = "*"

[requires]
python_version = "3.7"
